<app-header></app-header>
<br><br>
<button mat-raised-button>Basic</button>&nbsp;
<button mat-raised-button color="primary">Primary</button>&nbsp;
<button mat-raised-button color="accent">Accent</button>&nbsp;
<button mat-raised-button color="warn">Warn</button>&nbsp;
<button mat-raised-button disabled>Disabled</button>&nbsp;
<a mat-button href="https://www.google.com/" target="_blank">Link</a>
<br><br>
<button (click)="toggle()">Toggle</button>
<h1 *ngIf="disabled">Tai</h1>
<br><br>
<form #basicForm="ngForm" (submit)="getForm(basicForm.value)">
    <input ngModel type="text" name="user" placeholder="Enter User Name">
    <input ngModel type="password" name="password" placeholder="Enter Password">
    <input ngModel type="text" name="email" placeholder="Enter EMail">
    <br>
    <button>Register</button>
</form>
<ul>
    <li>{{userData.user}}-{{userData.email}}</li>
</ul>
<br><br>
<button (click)="updateColor()">Update Color</button>
<ul>
    <li *ngFor="let rec of userDetails" [style.color]="color" [style.backgroundColor]="bgcolor">
        {{rec.name}} - {{rec.email}} - {{rec.phone}}
        <br>
        <ul>
            <li *ngFor="let recdetail of rec.accounts">
                {{recdetail}}
            </li>
        </ul>
    </li>
</ul>

<br><br>
<span *ngFor="let rec of users">{{rec}}</span>
<br><br>
<input type="text" value={{data}} disabled={{disabled}}>
<br><br>
<button (click)="counter('add')">++</button>
<button (click)="counter('minus')">--</button>
<p class="heading">count : {{count}}</p>
<br><br>
<h1>Hello Angular {{title}}</h1>
<p>{{data}}</p>
<p>{{getVal()}}</p>
<p>{{2+2}}</p>
<app-header></app-header>
<app-user-list></app-user-list>
<app-footer></app-footer>

<button (click)="getName('Leman Lee')">Click Me</button>
<button (click)="getName(100)">Click Me</button>
<br><br>
<input type="text" #box1 (keyup)="getData(box1.value)" placeholder="Keyup box">
<br><br>
<input type="text" #box2 (keydown)="getData(box2.value)" placeholder="keydown box">
<br><br>
<input type="text" #box3 (blur)="getData(box3.value)" placeholder="blur box">
<br><br>

<h1 (mouseover)="getData('mouseover')">Code step</h1>
<h1 (mouseleave)="getData('mouseleave')">Code step</h1>

<br><br>
<input type="text" #box4 (keyup)="getValue(box4.value)" placeholder="Enter Name">
<br>
<button (click)="getValue(box4.placeholder)">CLick Me</button>
<br>
<p>Box valuue is {{displayVal}}</p>